.searchGifs {
  display: flex;
  flex-direction: row;
  background-color: var(--theme-body-bg);
}

.search-btn {
  background: var(--brand-color_3);
  border: 0;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}
.search-btn:hover {
  background: var(--brand-color_2);
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.search-input {
  font-size: 16px;
  border: none;
  padding: 4px 16px;
}
